{% extends 'index.html' %}
{% load tags %}
{% block page-content %}
    <h1>资产详细信息</h1>
<div class="form-horizontal clearfix" style="margin-top: 20px">
    <div class="form-group col-md-6">
        <div class="col-md-4 control-label">主机名:</div>
        <div class="col-md-7 control-label text-left">{{ ser_obj.hostname }}</div>
    </div>
    <div class="form-group col-md-6">
        <div class="col-md-4 control-label">设备类型:</div>
        <div class="col-md-7 control-label text-left">{{ Asset_obj.device_type_id }}</div>
    </div>
    <div class="form-group col-md-6">
        <div class="col-md-4 control-label">设备状态:</div>
        <div class="col-md-7 control-label text-left">{{ Asset_obj.device_status_id }}</div>
    </div>
    <div class="form-group col-md-6">
        <div class="col-md-4 control-label">更新时间:</div>
        <div class="col-md-7 control-label text-left">{{ Asset_obj.latest_date|date:"Y-m-d" }}</div>
    </div>

    <div class="form-group col-md-6">
        <div class="col-md-4 control-label">所在机房:</div>
        <div class="col-md-7 control-label text-left">{{ Asset_obj.idc.name}}</div>
    </div>
    <div class="form-group col-md-6">
        <div class="col-md-4 control-label">机房机柜号:</div>
        <div class="col-md-7 control-label text-left">{{ Asset_obj.cabinet_order}}</div>
    </div>
    <div class="form-group col-md-6">
        <div class="col-md-4 control-label">业务线:</div>
        <div class="col-md-7 control-label text-left">{{ Asset_obj.business_unit}}</div>
    </div>
    <div class="form-group col-md-6">
        <div class="col-md-4 control-label">标签:</div>

        <div class="col-md-7 control-label text-left">{% listtag Asset_obj %}</div>

    </div>
</div>
    <h2>服务器信息</h2>
<div class="form-horizontal clearfix">
    <div class="form-group col-md-6">
        <div class="col-md-4 control-label">管理IP:</div>
        <div class="col-md-7 control-label text-left">{{ ser_obj.manage_ip}}</div>
    </div>
    <div class="form-group col-md-6">
        <div class="col-md-4 control-label">SN:</div>
        <div class="col-md-7 control-label text-left">{{ ser_obj.sn}}</div>
    </div>
    <div class="form-group col-md-6">
        <div class="col-md-4 control-label">制造厂家:</div>
        <div class="col-md-7 control-label text-left">{{ ser_obj.manufacturer}}</div>
    </div>
    <div class="form-group col-md-6">
        <div class="col-md-4 control-label">操作系统:</div>
        <div class="col-md-7 control-label text-left">{{ ser_obj.os_platform}}</div>
    </div>
    <div class="form-group col-md-6">
        <div class="col-md-4 control-label">系统版本:</div>
        <div class="col-md-7 control-label text-left">{{ ser_obj.os_version}}</div>
    </div>
    <div class="form-group col-md-6">
        <div class="col-md-4 control-label">CPU型号:</div>
        <div class="col-md-7 control-label text-left">{{ ser_obj.cpu_model}}</div>
    </div>
    <div class="form-group col-md-6">
        <div class="col-md-4 control-label">CPU数量:</div>
        <div class="col-md-7 control-label text-left">{{ ser_obj.cpu_count}}</div>
    </div>
    <div class="form-group col-md-6">
        <div class="col-md-4 control-label">创建时间:</div>
        <div class="col-md-7 control-label text-left">{{ ser_obj.create_at|date:"Y-m-d"}}</div>
    </div>

</div>


{% endblock %}
